.contact-main {
    margin: auto;
    /* background: #16202a; */
    padding: 33px 0;
}
.contact-header {
    text-align: center;
}
.contact-header h2 {
    font-size: 5rem;
    font-weight: 500;
    line-height: 4rem;
    color: #fff;
}
.contact-header p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: #80ebc7;
}
.contact-wrap {
    text-align: center;
}
.contact-wrap h2 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;
    margin-top: 60px;
    color: #fff;
}
.contact-wrap p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    padding: 0 34rem;
    margin-top: 2rem;
    color: #898989;
}
.contact-wrap p .link-button{
    text-decoration: underline;
    color: #fff;
}
.input-main-box input {
    max-width: 500px;
    font-size: 1.5rem;
    padding: 25px 20px;
    border-radius: 0.7rem;
    border: 2px solid #72a9a3;
    box-shadow: none;
    outline: none;
    background: transparent;
    color: #898989;
}
.input-main-box input:focus {
    background-color: transparent;
    border: 2px solid #72a9a3;
    color: #898989;
}
.input-main-box {
    margin: auto;
    max-width: 30%;
    margin-top: 52px;
}
.checkbox-wrap {
    margin: auto;
    width: 28%;
    margin-top: 20px;
}
.checkbox-wrap input{
    float: none;
    font-size: 20px;
}
.checkbox-wrap label{
    color: #898989;
    font-size: 12px;
}
.checkbox-wrap small.text-muted.form-text {
    padding-left: 15px;
    font-size: 12px;
}
.checkbox-wrap small.text-muted.form-text a{
    color: #fff;
    font-size: 12px;
}
.contact-main button{
    background-color: #80ebc7;
}
.button-wrap {
    text-align: center;
    margin-top: 30px;
}
.button-wrap button{
    font-size: 16px;
    color: #000;
    border: none;
    outline: none;
    padding: 5px 25px;
}
.recaptcha-box{
    margin: auto;
    width: 23%;
    margin-top: 30px;
}